<div class="bar bar-header bar-assertive">
    <button class="button button-icon ion-android-arrow-back" ng-click="openTab('events')"></button>
    <h1 class="title">Contact Us</h1>
</div>
<div class="contact-form">
    <p>Feel free to contact us about any matter.</p>
    <label class="item item-input profile-name">
        <input type="text" placeholder="Enter Title">
    </label>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter Description" rows="6" cols="6"></textarea>
    </label>

    <ion-footer-bar>
        <button class="button button-full button-assertive send-button">
            Send
        </button>
    </ion-footer-bar>
</div>
