<div class="bar bar-header bar-assertive">
    <button ng-click="openMenu('pages') " class="button button-icon ion-android-menu"></button>
    <div class="h1 title">
        <div>Bola</div>
    </div>
    <button ng-click="openMenu('order')" class="button button-icon ion-android-funnel"></button>
</div>
<ion-content class="has-header">
    <div ng-repeat="event in events | orderBy: settings.order">
        <a class="item item-thumbnail-left" href="#" ng-click="openEvent(event)">
            <img src="img/default-event.png">

            <h2>{{event.title}}</h2>
            <span class="date-time-tab"> {{event.start_date}} </span>

            <p><span>{{event.description}}</span></p>
        </a>
    </div>
</ion-content>
<div class="button-footer">
    <button ng-click="openTab('new_event')" class="button button-assertive ion-plus add-button"></button>
</div>
<div ng-show="settings.menuOpen == 'pages'" class="list events-menu pages-menu">
    <a class="item item-icon-left" href="#">
        <span class="icon ion-android-person"></span>
        Profile
    </a>
    <a class="item item-icon-left" href="#">
        <span class="icon ion-key"></span>
        Account
    </a>
    <a class="item item-icon-left" href="#">
        <span class="icon ion-gear-a"></span>
        Settings
    </a>
    <a class="item item-icon-left" href="#">
        <span class="icon ion-help-circled"></span>
        Help
    </a>
</div>
<div ng-show="settings.menuOpen == 'order'" class="list events-menu events-sorting">
    <div class="item item-divider">
        Order by
    </div>
    <label class="item item-radio">
        <input type="radio" ng-model="settings.order" value="start_date">

        <div class="item-content">
            Date & Time
        </div>
        <span class="radio-icon ion-checkmark"></span>
    </label>
    <label class="item item-radio">
        <input type="radio" ng-model="settings.order" value="title">

        <div class="item-content">
            Title
        </div>
        <span class="radio-icon ion-checkmark"></span>
    </label>
</div>