<div ng-controller="eventCtrl">
    <div class="bar bar-header bar-assertive chat-bar">
        <button class="button button-icon ion-android-arrow-back" ng-click="openTab('events')"></button>
        <div class="h1 title">
            <div>{{event.title}}</div>
        </div>
    </div>
    <ion-content class="messages-content">
        <ol class="messages">
            <li ng-repeat="message in messages" ng-class="message.writer_id == userId ? 'self' : 'other'">
                <div class="message-bullet">
                    <div class="writer">{{message.writer_name}}</div>
                    <div><p>{{message.content}}</p></div>
                </div>
            </li>
        </ol>
    </ion-content>
    <ion-footer-bar>
        <form ng-submit="send()">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="message.content" placeholder="write message">
                </label>
                <button type="submit" class="button button-small">
                    Send
                </button>
            </div>
        </form>
    </ion-footer-bar>
</div>