<div class="bar bar-header bar-assertive">
    <button class="button button-icon ion-android-arrow-back" ng-click="openTab('events')"></button>
    <h1 class="title">Help</h1>
</div>
<div class="help">
    <div class="bar bar-subheader bar-assertive">
        <i class="ion-help"></i>
        FAQ
    </div>
    <div class="list">
        <div class="item item-divider">
            Can i eat cheese?
        </div>
        <p class="item">
            Yes You Can!
        </p>

        <div class="item item-divider">
            Is This App Free?
        </div>
        <p class="item">
            No! give me Money!!!
        </p>
    </div>

    <ion-footer-bar>
        <button class="button button-full button-assertive contact-us" ng-click="openTab('contact_us')">
            <i class="ion-email"></i>
            Contact Us
        </button>
    </ion-footer-bar>
</div>
