<form class="profile-form">
    <div class="bar bar-header bar-assertive">
        <button class="button button-icon ion-android-arrow-back" ng-hide="newUser" ng-click="openTab('events')"></button>
        <h1 class="title">Profile</h1>
    </div>
    <div class="list new-event list-inset">
        <div ng-click="addPhoto=!addPhoto" class="ion-image profile-image"></div>
        <div ng-show="addPhoto" class="button-bar bar-assertive">
            <a class="button">Gallery</a>
            <a class="button">Camera</a>
        </div>
        <label class="item item-input profile-name">
            <input type="text" placeholder="Enter Name">
        </label>
    </div>

    <ion-footer-bar>
        <button class="button button-full button-assertive send-button">
            Send
        </button>
    </ion-footer-bar>
</form>