<div class="logo">
    <img src="img/b-icon.png"/>
</div>
<div class="description">
    PLEASE INSERT PHONE NUMBER TO LOG IN
</div>
<div class="reg-form">
    <div class="list">
        <div class="item item-select">
            <select>
                <option>054</option>
                <option selected>052</option>
                <option>050</option>
            </select>
        </div>
    </div>
    <input type="text" placeholder="Phone Number">

    <button ng-click="login()" class="button button-block bar-assertive">
        Send SMS
    </button>
</div>
</div>
