<div>
    <img src="img/b-icon.png"/>
</div>
<div class="list list-inset">
    <div class="item row">
        <div class="col">

            <label class="item-input item-select">
                <select>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </label>
        </div>

        <div class="col">

            <label class="item item-input">
                <input type="text" placeholder="Phone Number">
            </label>
        </div>
    </div>
    <button ng-click="login()" class="button button-block bar-assertive">
        Send SMS
    </button>
</div>