<form class="profile-form">
    <div class="bar bar-header bar-assertive">
        <h1 class="title">User Details</h1>
    </div>
    <div class="list new-event list-inset">
        <div ng-click="addPhoto=!addPhoto" class="ion-image profile-image"></div>
        <div ng-show="addPhoto" class="button-bar bar-assertive">
            <a class="button">Gallery</a>
            <a class="button">Camera</a>
        </div>
        <label class="item item-input profile-name">
            <input type="text" placeholder="Enter Name">
        </label>
        <button class="button button-assertive send-button">
            Send
        </button>
    </div>
</form>