<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.bola715407" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>bola</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="android">
    <icon src="www/res/icons/android/bola-icon.png" density="ldpi"/>
    <icon src="www/res/icons/android/bola-icon48.png" density="mdpi"/>
    <icon src="www/res/icons/android/bola-icon72.png" density="hdpi"/>
    <icon src="www/res/icons/android/bola-icon96.png" density="xhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-ldpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-mdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-hdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-xhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-xxhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="land-xxxhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-ldpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-mdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-hdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-xhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-xxhdpi"/>
    <splash src="www/res/splash/android/bola-icon200.png" density="port-xxxhdpi"/>
  </platform>
</widget>