html, body {
    height: 100%;
}

.pane {
    background: #fff9f6;
}

.clear {
    clear: both !important;
}

.submit-button {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.reg-logo {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -125px;
}

.bar.bar-footer {
    padding: 0;
}

.registration-content {
    margin-top: 280px;
}

.code-field {
    margin: 0 100px
}

.chat-bar {
    height: 55px;
    z-index: 9991;
}

.date-time-tab {
    font-size: small;
    color: #6b8e23;
}

.button-footer {
    position: absolute;
    border-radius: 20px;
    right: 10px;
    bottom: 10px;
}

.add-button, .button-attend > button {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.item-thumbnail-left img {
    border: none;
}

.new-event a {
    color: #007aff;
}

.new-event button {
    margin-top: 20%;
    margin-left: 20%;
}

.new-event .row {
    margin-left: -3%;
}

.new-event .item {
    top: 2px;
}

.new-event .row, .new-event .col {
    padding: 0;
}

.new-event .col input {
    padding: 0;
}

.contacts-button {
    margin: 0 !important;
    padding: 0 30px;
}

.item-contact {
    padding: 0;
}

.item-contact input {
    float: right;
}

.item-contact .item-avatar {
    border-left: none;
}

.profile-image {
    height: 350px !important;
}

.profile-image img {
    margin-top: 0 !important;
}

.avatar-image {
    overflow: hidden;
    height: 100px;
    position: relative;
}

.avatar-image input {
    position: absolute;
    top: -100px;
    left: -100px;
    height: 0;
    width: 0;
    overflow: hidden;
}

.avatar-image img {
    position: absolute;
    margin-top: -80px;
    width: 100%;
    top: 0;
}

.new-event .end-date-field {
    position: relative;
}

.new-event .end-date-field a {
    width: 100%;
    text-align: center;
}

.new-event .cancel-env-date {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -11px;
}

.submit-event {
    margin: 0 !important;
}

.events-menu {
    top: 44px;
    position: absolute;
    color: #535353;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.events-menu .item {
    width: 170px;
}

.events-menu.ng-hide-add {
    animation: closeUp 0.4s ease-out;
    -webkit-animation: closeUp 0.4s ease-out;
}

.events-menu.ng-hide-remove {
    animation: openDown 0.4s ease-out;
    -webkit-animation: openDown 0.4s ease-out;
}

.messages-content {
    top: 56px;
    bottom: 56px;
}

.event-details {
    top: -100%;
}

.event-details {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9992;
}

.event-details .list {
    height: 100%;
    top: 0;
    padding: 0;
    background: white;
    animation: slideInDown 0.4s ease-out;
    -webkit-animation: slideInDown 0.4s ease-out;
}

.button-attend.event_details {
    animation: moveAttend 0.4s ease-out;
    -webkit-animation: moveAttend 0.4s ease-out;
    transform: translate3d(0, 140px, 0);
    z-index: 9994;
}

.button-attend.event_details .attend-menu {
    animation: none !important;
    -webkit-animation: none !important;
    display: none;
}

.event-details .input-label {
    font-weight: bold;
}

.details-image {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.details-image img {
    position: absolute;
    width: 100%;
    top: 0;
}

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
}

.messages li {
    display: block;
    clear: both;
    min-width: 50%;
    margin: 0 0 1rem 0;
    padding: 0;
    position: relative;
}

.messages .message-bullet {
    border-radius: .75rem;
    color: #383641;
    padding: 0 8px;
    margin: 0;
    display: inline-block;
    position: relative;
    max-width: 100%;
    min-width: 70%;
}

.messages li.self {
    float: right;
    text-align: right;
    margin-right: 5px;
    -webkit-animation: bounceInRight 0.4s ease-out;
}

.messages li.self .message-bullet {
    background-color: #93c7ee;
    box-shadow: -1px 0px 2px rgba(0, 0, 255, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.messages li.other {
    float: left;
    text-align: left;
    margin-left: 10px;
    -webkit-animation: bounceInLeft 0.4s ease-out;
}

.messages li.other .message-bullet {
    background-color: #ebe4e1;
    box-shadow: -1px 0px 2px rgba(200, 130, 130, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.messages .message-bullet .p {
    font-size: .875rem;
}

.message-bullet:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -5.5px;
}

li.other .message-bullet:before {
    background-color: #ebe4e1;
    left: 10px;
    -webkit-transform: rotate(80deg) skew(5deg);
}

li.self .message-bullet:before {
    background-color: #93c7ee;
    right: 10px;
    -webkit-transform: rotate(108deg) skew(-5deg);
}

.messages .message-bullet .writer {
    font-size: .500rem;

}

.messages .message-bullet img {
    display: block;
    min-width: 65%;
    border-radius: .75rem;
}

.messages li.self .message-status {
    float: left;
    margin-right: 5px;
}

.messages li.other .message-status {
    float: right;
    margin-left: 5px;
}

.message-status {
    font-size: 16px;
}

.message-status.ion-ios-checkmark {
    color: #71ff00;
}

.message-status.ion-ios-help {
    color: #c97000;
}

.message-status.ion-ios-close {
    color: #d33639;
}

.profile-name {
    margin-top: 5%;
}

.help {
    margin-top: 15%;
}

.help i {
    font-size: 30px;
}

.help .contact-us {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
}

.help .bar-assertive {
    width: 100%;
    text-align: center;
}

.help .list {
    margin-top: 25%;
}

.contact-form {
    margin-top: 20%;
}

.popup-icon {
    vertical-align: middle;
}

.contact-form .send-button {
    padding: 0;
    margin: 0;
}

.contact-form p {
    text-align: center;
    margin-left: 30%;
    height: 60px;
    width: 150px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-size: larger;
    font-weight: bolder;
}

.first-load li {
    -webkit-animation: none !important;
    animation: none !important;
}

.message-footer {
    padding: 0;
    background: none !important;
    height: 53px !important;
}

.message-footer div {
    bottom: 5px;
}

.message-footer .message-input {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    border-color: #ddd;
    background-color: white;
    color: #444;
    position: absolute;
    right: 61px;
    left: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.message-footer label {
    padding: 16px;
    width: 100%;
    display: block;
}

.message-footer input {
    resize: none;
    background: transparent;
    margin-top: -3px;
    height: 100%;
    width: 100%;
}

.message-footer .submit-message {
    height: 48px;
    width: 50px;
    z-index: 2;
    position: absolute;
    right: 10px;
}

.message-footer button {
    height: 100%;
    padding: 2px 6px !important;
    border: #e42012 1px solid;
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: #ef473a;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.title.doublerow {
    height: 100%;
}

.title.doublerow div {
    position: absolute;
    width: 100%;
}

.title.doublerow div:first-child {
    top: -3px;
}

.title.doublerow div:last-child {
    top: 16px;
    font-size: 12px;
    color: #DCDCDC;
}

.button-attend {
    position: absolute;
    border-radius: 20px;
    right: 10px;
    top: 30px;
}

.button-attend button {
    font-size: 50px;
    padding: 0;
    z-index: 9993;
}

.button-attend button.opened-menu, .button-attend button.ion-ios-circle-filled {
    border-color: dimgray !important;
    background-color: darkgray !important;
}

.attend-menu {
    box-shadow: none;
}

.attend-menu.ng-animate {
    z-index: 9000;
}

.attend-menu button {
    display: block;
    margin-top: 5px;
}

.button-attend button.ion-ios-checkmark {
    border-color: darkgreen;
    background-color: lawngreen;
}

.button-attend button.ion-ios-checkmark {
    border-color: darkgreen;
    background-color: lawngreen;
}

.button-attend button.ion-ios-help {
    border-color: orangered;
    background-color: darkorange;
}

.button-attend button.ion-ios-close {
    border-color: darkred;
    background-color: rgb(255, 63, 65);
}