html, body {
    height: 100%;
}

.clear {
    clear: both !important;
}

.reg-logo {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -125px;
}

.registration-content {
    margin-top: 280px;
}

.code-field {
    margin: 0 100px
}

.chat-bar {
    height: 55px;
}

.date-time-tab {
    font-size: small;
    color: #6b8e23;
}

.button-footer {
    position: absolute;
    border-radius: 20px;
    right: 10px;
    bottom: 10px;
}

.add-button {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.item-thumbnail-left img {
    border: none;
}

.new-event a {
    color: #007aff;
}

.new-event button {
    margin-top: 20%;
    margin-left: 20%;
}

.new-event .row {
    margin-left: -3%;
}

.new-event .item {
    top: 2px;
}

.new-event .row, .new-event .col {
    padding: 0;
}

.new-event .col input {
    padding: 0;
}

.new-image {
    overflow: hidden;
    height: 100px;
    position: relative;
}

.new-image img {
    position: absolute;
    margin-top: -80px;
    width: 100%;
    top: 0;
}

.new-event .end-date-field {
    position: relative;
}

.new-event .end-date-field a {
    width: 100%;
    text-align: center;
}

.new-event .cancel-env-date {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -11px;
}

.submit-event {
    margin: 0 !important;
}

.pages-menu, .events-sorting {
    top: 44px;
    position: absolute;
    color: #535353;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.pages-menu {
    width: 175px;
    left: 0;
}

.events-sorting {
    width: 170px;
    right: 0;
}

.events-menu.ng-hide-add {
    -webkit-animation: slideOutUp 0.4s ease-out;
}

.events-menu.ng-hide-remove {
    -webkit-animation: slideInDown 0.4s ease-out;
}

.messages-content {
    top: 56px;
}

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
}

.messages li {
    display: block;
    clear: both;
    min-width: 50%;
    margin: 0 0 1rem 0;
    padding: 0;
    position: relative;
}

.messages .message-bullet {
    border-radius: .75rem;
    color: #383641;
    padding: 0 8px;
    margin: 0;
    display: inline-block;
    position: relative;
    max-width: 80%;
}

.messages li.self {
    float: right;
    text-align: right;
    margin-right: 5px;
    -webkit-animation: bounceInRight 0.4s ease-out;
}

.messages li.self .message-bullet {
    background-color: lightgreen;
    box-shadow: -1px 0px 2px rgba(0, 255, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.messages li.other {
    float: left;
    text-align: left;
    margin-left: 10px;
    -webkit-animation: bounceInLeft 0.4s ease-out;
}

.messages li.other .message-bullet {
    background-color: #e6e5eb;
    box-shadow: -1px 0px 2px rgba(150, 150, 150, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.messages .message-bullet .p {
    font-size: .875rem;
}

.message-bullet:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -5.5px;
}

li.other .message-bullet:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(80deg) skew(5deg);
}

li.self .message-bullet:before {
    background-color: lightgreen;
    right: 10px;
    -webkit-transform: rotate(108deg) skew(-5deg);
}

.messages .message-bullet .writer {
    font-size: .500rem;

}

.messages .message-bullet img {
    display: block;
    min-width: 65%;
    border-radius: .75rem;
}

.profile-image {
    padding-left: 25%;
    font-size: 200px;
}

.profile-name {
    margin-top: 5%;
}

.help {
    margin-top: 15%;
}

.help i {
    font-size: 30px;
}

.help .contact-us {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
}

.help .bar-assertive {
    width: 100%;
    text-align: center;
}

.help .list {
    margin-top: 25%;
}

.contact-form {
    margin-top: 20%;
}

.button-icon {
    vertical-align: middle;
    pointer-events: none;
}

.contact-form .send-button {
    padding: 0;
    margin: 0;
}

.contact-form p {
    text-align: center;
    margin-left: 30%;
    height: 60px;
    width: 150px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-size: larger;
    font-weight: bolder;
}

.first-load li {
    -webkit-animation: none !important;
    animation: none !important;
}

.bar-footer {
    overflow: visible !important;
    padding: 5px;
}

.bar-footer .message-content {
    resize: none;
    height: 25px;
    width: 100%;
}

.bar-footer .item-input-wrapper {
    padding: 0;
    background-color: white;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 40px;
    top: 2px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}